#Box{
    background: pink;
    width: 300px;
    height: 300px;
    overflow: auto;
    border: 1px solid #000; 
}
body{
    font-family: arial;
}

#inner-box {
 background: lightgreen;
 width: 1000px;
 height: 150px;
}